@page "/my-tasks"

@layout MainLayout
@inject PseudoAuth PseudoAuth

<PageTitle>GermUkrainian - Мої завдання</PageTitle>

<div class="flex flex-col items-center justify-center gap-5">
  <div class="flex flex-col gap-2 items-center w-full">
    <h1 class="text-3xl font-semibold text-primary-pink">Мої завдання</h1>
    <p class="text-xl text-zinc-500 mt-3 w-1/2 text-wrap text-center">На цій сторінці ви можете додавати, видаляти та
      виконувати
      різні
      завдання,
      які ви
      запланували зробити</p>
  </div>


  <div class="flex-1 w-full">
    @if (UserWords.Count > 0)
    {
      @foreach (var task in UserTasks)
      {
        <TaskCard id="@task.id" task="@task.task" date="@task.date" checkedTask="@task.done"
          imporatantTask="@task.important" />
      }
    }
    else
    {
      <p class="w-1/2 text-center mt-5 mx-auto text-2xl">Зараз ви не маєте жодного завдання, додайте щось і тут зможете
        бачити їх...</p>
    }
  </div>


</div>


@code {
  private bool isBigger = true;

  private List<MWord> UserWords = new List<MWord>();
  private List<UserTask> UserTasks = new List<UserTask>();

  public HttpClient httpClient = new HttpClient();

  protected override async Task OnInitializedAsync()
  {
    User user = await httpClient.GetFromJsonAsync<User>("http://localhost:5210/api/WordsTheme/user/" + PseudoAuth.UserMail +
    "/" +
    PseudoAuth.UserPass);
    UserTasks = user.todo_list.ToList();
  }
}