@inject NavigationManager navigationManager

<div class="bg-light-purple text-white pl-2 flex items-center @(checkedTask ? "opacity-50 py-2" : "opacity-100")">
  <div class="p-1">
    <button @onclick="EditTaskOnCheck" class="w-10 h-10 border-4 rounded-full hover:opacity-60 duration-300">
    </button>
  </div>

  <div class="flex-1">
    @if (isTaskEdited)
    {
      <input class="px-2 text-primary-teal bg-transparent border-b-2 w-full" type="text" @bind="task"
        @bind:event="oninput" />
    }
    else
    {
      <p class="break-all px-2">
        @task
      </p>
    }
  </div>

  @if (!checkedTask)
  {
    <p class="px-5 bg-neutral-800 h-14 flex items-center justify-center gap-1">
      <span>@date.Day</span>
      <span>-</span>
      <span>@date.Month</span>
      <span>-</span>
      <span>@date.Year</span>
    </p>
    <button type="button" class="h-14 w-14 bg-neutral-900 px-2" @onclick="EditTaskOnImportant">
      <svg class="h-full w-full hover:fill-[#ff7597] @(imporatantTask ? "fill-[#ff7597]" : "fill-none")"
        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z"
          stroke="#ff7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
    <button class="h-14 w-14 bg-neutral-800 px-2" @onclick="() => OnClick.InvokeAsync(id)" type="button">
      <svg class="h-full w-full fill-red-300 hover:fill-red-600 duration-300" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1.5 3.75C1.08579 3.75 0.75 4.08579 0.75 4.5C0.75 4.91421 1.08579 5.25 1.5 5.25V3.75ZM22.5 5.25C22.9142 5.25 23.25 4.91421 23.25 4.5C23.25 4.08579 22.9142 3.75 22.5 3.75V5.25ZM1.5 5.25H22.5V3.75H1.5V5.25Z" />
        <path
          d="M9.75 1.5V0.75V1.5ZM8.25 3H7.5H8.25ZM7.5 4.5C7.5 4.91421 7.83579 5.25 8.25 5.25C8.66421 5.25 9 4.91421 9 4.5H7.5ZM15 4.5C15 4.91421 15.3358 5.25 15.75 5.25C16.1642 5.25 16.5 4.91421 16.5 4.5H15ZM15.75 3H16.5H15.75ZM14.25 0.75H9.75V2.25H14.25V0.75ZM9.75 0.75C9.15326 0.75 8.58097 0.987053 8.15901 1.40901L9.21967 2.46967C9.36032 2.32902 9.55109 2.25 9.75 2.25V0.75ZM8.15901 1.40901C7.73705 1.83097 7.5 2.40326 7.5 3H9C9 2.80109 9.07902 2.61032 9.21967 2.46967L8.15901 1.40901ZM7.5 3V4.5H9V3H7.5ZM16.5 4.5V3H15V4.5H16.5ZM16.5 3C16.5 2.40326 16.2629 1.83097 15.841 1.40901L14.7803 2.46967C14.921 2.61032 15 2.80109 15 3H16.5ZM15.841 1.40901C15.419 0.987053 14.8467 0.75 14.25 0.75V2.25C14.4489 2.25 14.6397 2.32902 14.7803 2.46967L15.841 1.40901Z" />
        <path
          d="M9 17.25C9 17.6642 9.33579 18 9.75 18C10.1642 18 10.5 17.6642 10.5 17.25H9ZM10.5 9.75C10.5 9.33579 10.1642 9 9.75 9C9.33579 9 9 9.33579 9 9.75H10.5ZM10.5 17.25V9.75H9V17.25H10.5Z" />
        <path
          d="M13.5 17.25C13.5 17.6642 13.8358 18 14.25 18C14.6642 18 15 17.6642 15 17.25H13.5ZM15 9.75C15 9.33579 14.6642 9 14.25 9C13.8358 9 13.5 9.33579 13.5 9.75H15ZM15 17.25V9.75H13.5V17.25H15Z" />
        <path
          d="M18.865 21.124L18.1176 21.0617L18.1176 21.062L18.865 21.124ZM17.37 22.5L17.3701 21.75H17.37V22.5ZM6.631 22.5V21.75H6.63093L6.631 22.5ZM5.136 21.124L5.88343 21.062L5.88341 21.0617L5.136 21.124ZM4.49741 4.43769C4.46299 4.0249 4.10047 3.71818 3.68769 3.75259C3.2749 3.78701 2.96818 4.14953 3.00259 4.56231L4.49741 4.43769ZM20.9974 4.56227C21.0318 4.14949 20.7251 3.78698 20.3123 3.75259C19.8995 3.7182 19.537 4.02495 19.5026 4.43773L20.9974 4.56227ZM18.1176 21.062C18.102 21.2495 18.0165 21.4244 17.878 21.5518L18.8939 22.6555C19.3093 22.2732 19.5658 21.7486 19.6124 21.186L18.1176 21.062ZM17.878 21.5518C17.7396 21.6793 17.5583 21.75 17.3701 21.75L17.3699 23.25C17.9345 23.25 18.4785 23.0379 18.8939 22.6555L17.878 21.5518ZM17.37 21.75H6.631V23.25H17.37V21.75ZM6.63093 21.75C6.44274 21.75 6.26142 21.6793 6.12295 21.5518L5.10713 22.6555C5.52253 23.0379 6.06649 23.25 6.63107 23.25L6.63093 21.75ZM6.12295 21.5518C5.98449 21.4244 5.89899 21.2495 5.88343 21.062L4.38857 21.186C4.43524 21.7486 4.69172 22.2732 5.10713 22.6555L6.12295 21.5518ZM5.88341 21.0617L4.49741 4.43769L3.00259 4.56231L4.38859 21.1863L5.88341 21.0617ZM19.5026 4.43773L18.1176 21.0617L19.6124 21.1863L20.9974 4.56227L19.5026 4.43773Z" />
      </svg>
    </button>
    @if (isTaskEdited)
    {
      <button class="h-14 w-14 bg-neutral-900 px-3" type="button" @onclick="SaveTaskEdit">
        <svg class="h-full w-full fill-blue-600 hover:fill-blue-300 duration-300" version="1.1" id="Layer_1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.078 512.078"
          xml:space="preserve">
          <g>
            <g>
              <g>
                <path d="M508.087,2.425c-4.587-3.733-11.307-3.093-15.04,1.493l-306.56,374.827L92.94,284.771
				c-4.267-4.053-10.987-4.053-15.04,0.213c-4.053,4.16-4.053,10.667,0,14.827l101.867,102.4c2.027,2.027,4.693,3.093,7.573,3.2
				h0.533c2.987-0.107,5.867-1.6,7.787-3.947l314.133-384C513.314,12.985,512.674,6.264,508.087,2.425z" />
                <path
                  d="M387.447,256.291c-5.76,1.28-9.28,7.04-8,12.8c2.987,13.227,4.587,26.773,4.587,40.32
				c0,99.947-81.387,181.333-181.333,181.333S21.367,409.358,21.367,309.411S102.754,128.078,202.7,128.078
				c27.947-0.107,55.573,6.4,80.533,18.88c5.333,2.56,11.733,0.427,14.293-4.907c2.56-5.227,0.427-11.52-4.8-14.187
				c-27.947-13.973-58.773-21.227-90.027-21.12c-111.787,0-202.667,90.88-202.667,202.667S90.914,512.078,202.7,512.078
				s202.667-90.88,202.667-202.667c0-15.147-1.707-30.293-5.12-45.12C398.967,258.531,393.207,254.904,387.447,256.291z" />
              </g>
            </g>
          </g>
        </svg>
      </button>
    }
    else
    {
      <button class="h-14 w-14 bg-neutral-900 px-2" type="button" @onclick="TurnTaskEdit">
        <svg class="h-full w-full fill-yellow-600 hover:fill-yellow-300 duration-300" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.56078 20.2501L20.5608 8.25011L15.7501 3.43945L3.75012 15.4395V20.2501H8.56078ZM15.7501 5.56077L18.4395 8.25011L16.5001 10.1895L13.8108 7.50013L15.7501 5.56077ZM12.7501 8.56079L15.4395 11.2501L7.93946 18.7501H5.25012L5.25012 16.0608L12.7501 8.56079Z" />
        </svg>
      </button>
    }
  }


</div>


@code {
  [Parameter]
  public string userId { get; set; }

  [Parameter]
  public string id { get; set; }

  [Parameter]
  public string task { get; set; }

  [Parameter]
  public DateTime date { get; set; }

  [Parameter]
  public bool checkedTask { get; set; }

  [Parameter]
  public bool imporatantTask { get; set; }

  [Parameter]
  public EventCallback<string> OnClick { get; set; }

  public HttpClient httpClient = new HttpClient();

  private bool isTaskEdited = false;

  private async void EditTask()
  {
    var body = new
    {
      taskId = id,
      task = task,
      important = imporatantTask,
      done = checkedTask,
      date = date
    };

    Console.WriteLine(body);
    @* await httpClient.PutAsJsonAsync("http://localhost:5210/api/WordsTheme/user/" + userId + "/tasks/" + id, body); *@

    navigationManager.NavigateTo(navigationManager.Uri, true);
  }

  private async void EditTaskOnImportant()
  {
    imporatantTask = !imporatantTask;
    var body = new
    {
      taskId = id,
      task = task,
      important = imporatantTask,
      done = checkedTask,
      date = date
    };

    await httpClient.PutAsJsonAsync("http://localhost:5210/api/WordsTheme/user/" + userId + "/tasks/" + id, body);
  }

  private async void EditTaskOnCheck()
  {
    checkedTask = !checkedTask;
    var body = new
    {
      taskId = id,
      task = task,
      important = imporatantTask,
      done = checkedTask,
      date = date
    };

    await httpClient.PutAsJsonAsync("http://localhost:5210/api/WordsTheme/user/" + userId + "/tasks/" + id, body);
  }

  private async void SaveTaskEdit()
  {
    var body = new
    {
      taskId = id,
      task = task,
      important = imporatantTask,
      done = checkedTask,
      date = date
    };

    isTaskEdited = false;
    await httpClient.PutAsJsonAsync("http://localhost:5210/api/WordsTheme/user/" + userId + "/tasks/" + id, body);

  }

  private void TurnTaskEdit()
  {
    isTaskEdited = true;
  }
}