@page "/courses/{tlevel}/{tthemeid}"

@inject IService service

<PageTitle>Learning app - Course @tlevel @tthemeid</PageTitle>

<div class="flex flex-col items-center gap-16">
  <div class="flex flex-col items-center gap-2">
    <h2 class="text-3xl font-semibold">
      <span class="text-secondary-pink">Theme:</span> @courseTheme
    </h2>
    <p class="text-2xl opacity-70">
      Level:
      <span class="uppercase text-primary-teal font-bold">@tlevel</span>
    </p>
  </div>



  <div class="flex flex-wrap justify-between gap-10">
    @foreach (var word in words)
    {
      <WordCard word="@word.word" type="@word.type" sentence="@word.sentence" translate="@word.translate" />
    }
  </div>
</div>




@code {
  [Parameter]
  public string tlevel { get; set; }
  [Parameter]
  public string tthemeid { get; set; }

  private WordsTheme wordsTheme = new WordsTheme();
  private List<MWord> words = new List<MWord>();

  private string courseTheme { get; set; }

  protected override async Task OnInitializedAsync()
  {
    wordsTheme = service.GetWordsThemesById(tthemeid);
    words = wordsTheme.words.ToList();
    courseTheme = wordsTheme.theme;
  }
}